.homeDivSportList {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homeBigLetters {
    font-size: var(--font-size-letter);
    text-shadow: 3px 3px 0 var(--color-red), -3px -3px 0 var(--color-red), 3px -3px 0 var(--color-red), -3px 3px 0 var(--color-red), 3px 0 0 var(--color-red), 0 3px 0 var(--color-red), -3px 0 0 var(--color-red), 0 -3px 0 var(--color-red);
    color: black;
    font-family: var(--font-family-Monsterrat);
    position: absolute;
    z-index: -2;
    line-height: 0.7;
}

.homeDivAllLeagues {
    margin-top: 9.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.homeLinkLeagues {
    margin-left: 9rem;
    display: flex;
    align-items: baseline;
    gap: 1rem;
    width: max-content;
  
}

/* .homeLinkLeagues:hover {
    border-bottom: 1.1rem solid var(--color-red);
    text-decoration: 1rem underline;
    text-underline-offset: 1rem;
    color: var(--color-red);
    transition: 0.1s ease-in-out;
    text-underline-position: below;
} */

.hover-underline-animation {
    display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after {
    content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
  transform-origin: bottom left;
}

.homeH3Leagues {
    font-size: var(--font-size-h3);
    color: white;
    font-family: var(--font-family-Monsterrat);
    font-weight: var(--font-weight-rest);
}

.homeH4Leagues {
    font-size: var(--font-size-h4);
    color: white;
    font-family: var(--font-family-OpenSans);
    font-weight: var(--font-weight-h4-p);
}