.homeDivSportList {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.homeBigLetters {
    font-size: var(--font-size-letter);
    text-shadow: 3px 3px 0 var(--color-red), -3px -3px 0 var(--color-red), 3px -3px 0 var(--color-red), -3px 3px 0 var(--color-red), 3px 0 0 var(--color-red), 0 3px 0 var(--color-red), -3px 0 0 var(--color-red), 0 -3px 0 var(--color-red);
    color: black;
    font-family: var(--font-family-Monsterrat);
    position: absolute;
    z-index: -2;
    line-height: 0.7;
    margin-top: 3rem;
}

.homeDivAllLeagues {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 100%;
    margin-left: 9rem;
    margin-right: 5rem;
}

.homeLinkLeagues {
    display: flex;
    align-items: last baseline;
    gap: 1rem;
    position: relative;
    transition: 0.3s;
    max-width: 90%;
    width: max-content;
    cursor: pointer;
}

.homeLinkLeagues::after {
    content: "";
    background-color: black;
	position: absolute;
	bottom: 7%;
	left: 0;
	height: 1rem;
	width: 0;
	transition: 0.3s;
    z-index: -2;
}

.homeLinkLeagues:hover, .homeLinkLeagues:focus {
    color: var(--color-red);
}

.homeLinkLeagues:hover::after, .homeLinkLeagues:focus::after {
    background-color: var(--color-red);
    width: 100%;
}

.homeH3Leagues {
    font-size: var(--font-size-h3);
    color: white;
    font-family: var(--font-family-Monsterrat);
    font-weight: var(--font-weight-rest);
}

.homeH4Leagues {
    font-size: var(--font-size-h4);
    color: white;
    font-family: var(--font-family-OpenSans);
    font-weight: var(--font-weight-h4-p);
}