main {
    position: relative;
}

.homeDivH1Image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.homeImage {
    width: 80%;
    z-index: -2;
}

h1 {
    font-size: var(--font-size-h1);
    color: var(--color-red);
    font-family: var(--font-family-Monsterrat);
    right: 0;
    margin-right: 5rem;
    text-align: end;
    position: absolute;
}

.arrow {
    position: fixed;
    bottom: 10%;
    right: 5%;
    background: none;
    border: none;
    cursor: pointer;
}

.rect {
    transform: translateY(100%);
    fill: rgb(232, 53, 57);
    transition: transform 0.3s ease-in-out;
}

.svg:hover .rect {
    transform: translateY(0);
} 
