.leagueMain {
    width: 94vw;
    display: flex;
    flex-direction: column;
    margin: 0rem 3rem;
}

.leaguePageSection {
    display: flex;
    flex-direction: column;
}

.leagueContent {
    display: flex;
    flex-direction: column;
}

.leaguePageBox {
    display: flex;
    border: 3px solid lightgreen;
}

.leagueImage {
    width: 50%;
    height: max-content;
    margin-left: 2rem;
    position: relative;
    z-index: -2;
}

.leagueText {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: var(--font-family-Monsterrat);
    font-weight: bold;
    text-transform: uppercase;
    text-align: end;
    line-height: 1;
}

.leaguePageH1 {
    font-size: var(--font-size-h1);
    color: var(--color-red);
}

.leaguePageH2 {
    font-size: var(--font-size-h2);
    font-family: var( --font-family-OpenSans);
}

.leagueResults a {
    display: flex;
    align-items: baseline;
    font-family: var(--font-family-Monsterrat);
    margin-top: 3rem;
}

.leagueResults a:hover {
    transform: scale(.9);
    transition: transform 0.3s;
}

.leaguePageH3 {
    font-size: var(--font-size-h3);
    color: white;
    padding-right: 1rem;
    text-transform: uppercase;
}

.leaguePageH4 {
    font-size: var(--font-size-h4);
    color: white;
    font-family: var(--font-family-OpenSans);
    font-weight: var(--font-weight-h4-p);
}