@font-face {
  font-family: 'Monsterrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdthwght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  color: rgba(255, 255, 255);
  background-color: #000000;

  --font-family-Monsterrat: 'Monsterrat';
  --font-family-OpenSans: 'OpenSans';

  --color-red: #E83539;

  --font-size-h1: 10.5rem;
  --font-size-h1-detail: 6rem;
  --font-size-h2: 5.25rem;
  --font-size-h3: 3rem;
  --font-size-h3-detail: 2.25rem;
  --font-size-h4: 1.5rem;
  --font-size-logo: 1.5rem;
  --font-size-letter: 18.75rem;
  --font-size-dropdown: 1.125rem;
  --font-size-p: 1.125rem;
  --font-size-description: 6rem;

  --font-weight-h4-p: 400;
  --font-weight-rest: 700;
}

body {
  display: flex;
  flex-direction: column;
}

/* Media Queries */

@media only screen and (max-width: 900px) {

html {
  font-size: 8px;
}
}


@media only screen and (max-width: 600px) {

  html {
    font-size: 6px;
  }

  .arrow {
    display: none !important;
  }
  }


  @media only screen and (max-width: 400px) {

    html {
      font-size: 5px;
    }
    }