@font-face {
  font-family: 'Monsterrat';
  src: url('./assets/fonts/Montserrat-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'OpenSans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdthwght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  color: rgba(255, 255, 255);
  background-color: #000000;

  --font-family-Monsterrat: 'Monsterrat';
  --font-family-OpenSans: 'OpenSans';

  --color-red: #E83539;

  --font-size-h1: 10.5rem;
  --font-size-h1-detail: 6rem;
  --font-size-h2: 5.25rem;
  --font-size-h3: 3rem;
  --font-size-h3-detail: 2.25rem;
  --font-size-h4: 1.5rem;
  --font-size-h4-detail: 3.75rem;
  --font-size-logo: 1.5rem;
  --font-size-letter: 18.75rem;
  --font-size-dropdown: 1.125rem;
  --font-size-p: 1.125rem;
  --font-size-description: 4.5rem;
  --font-size-detail-buttons: 2.25rem;

  --font-weight-h4-p: 400;
  --font-weight-rest: 700;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 10rem;
  height: 100vh;
}

/* Loading Animation */

.loader {
  justify-self: center;
  align-self: center;
  width: calc(100px - 24px);
  height: 50px;
  position: relative;
  animation: flippx 2s infinite linear;
}
.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #FFF;
  transform-origin: -24px 50%;
  animation: spin 1s infinite linear;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  background: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

@keyframes flippx {
  0%, 49% {
      transform: scaleX(1);
  }
  50%, 100% {
      transform: scaleX(-1);
  }
}
@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}   

/* Media Queries */

@media only screen and (max-width: 900px) {

html {
  font-size: 8px;
}
}


@media only screen and (max-width: 600px) {

  html {
    font-size: 6px;
  }

  .arrow {
    display: none !important;
  }
  }


  @media only screen and (max-width: 400px) {

    html {
      font-size: 5px;
    }
    }