.sortDivAll {
    margin-top: 10rem;
    margin-left: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sortDivSelection {
    display: flex;
    gap: 2rem;
}

.sortP {
    font-size: var(--font-size-p);
    color: white;
    font-family: var(--font-family-OpenSans);
    font-weight: var(--font-weight-h4-p);
}

.sortButton {
    background: none;
    border: 2px solid white;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: var(--font-size-p);
    color: white;
    font-family: var(--font-family-OpenSans);
    font-weight: var(--font-weight-h4-p);
}

.sortDiv {
    display: flex;
    gap: 2rem;
    margin-right: 5rem;
}

select {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    outline: none;
}



