.sortDiv {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    margin-top: 5rem;
    margin-right: 5rem;
}

select {
    border: 2px solid white;
    background: none;
    color: white;
    padding: 0.5rem 5rem 0.5rem 0.5rem;
    outline: none;
}



