header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;
    background-color: black;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navDivLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.imgLogo {
    width: 30%;
}

.search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: black;
    border: 2px solid white;
    padding: 0.5rem;
}

.searchInput {
    background: none;
    border: none;
    width: 2rem;
    transition: 0.5s all ease-in-out;
    outline: none;
    color: white;
    cursor: pointer;
}

.searchInput[type=text]:focus, .searchInput[type=text]:hover{
    width: 15rem;
}

